
<div class="modal-header" id="photo-modal">
    <%= form_for @photo, remote: true, :html => {:multipart => true} do |form| %>
      <%= render "shared/error_messages", :target => @photo %>
        <div id="error_explanation">
          <div class="err"></div>
        </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :photo_title ,:required => true,class:'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :file %>
        <%= form.file_field :file, id: :photo_file ,:required => true,class:'form-control' %>
      </div>

      <div class="actions">
       <%= form.submit class:'btn btn-default' %>
      </div>

  <% end %>
  </div>


<script>
  $('.modal-header').one('submit', function() {
    $(this).find('input[type="submit"]').attr('disabled','disabled');
  });

</script>
