
<div class="container">
  <div class="col-md-5">
    <div class="count-text">Total Photo Count</div>
  </div>
  <div class="col-md-5 col-md-offset-2"></div>
  <div id="photo_counter"><span class="count"><%= Photo.count %></span></div> 
</div>

<div class="ajax-progress"></div>

<h2><%= link_to "Add New photo", new_photo_path %></h2>

<h3>Bulk Import Photos</h3>
  <%= form_tag  import_photos_path, multipart: true do %>
  <%= file_field_tag :file %></br>
  <%= submit_tag "Import" %></br>
<% end %></br>

<div id="photo_index">
  <%= render 'index', photos: @photos %>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

  </div> 
</div>
<%= paginate @photos %>

<script>
  $(document).ready(function() {

      $(".ajax-progress").show();
      $.ajax({
            type: "GET",// GET in place of POST
            url: "/",
            success: function (result) {
               //do somthing here
               $(".ajax-progress").hide("");
            },
            error: function (response){
               window.alert("something wrong!");
            }
       });
                                                                                                                                                                                                                                                                                                                                                                         
   });
</script>

<script>
   $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
            console.log($(this).html());
            if ($(this).html() < <%= Photo.count %>) {
             $(".count-text").css("color", "orange");
            } else {
             $(".count-text").css("color", "green");
            } 
        }  
    });
});
</script>


